.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

.fade-in-enter-active {
    transition: opacity .5s
}
.fade-in-enter {
    opacity: 0
}